body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-red .nav-link,
.navbar-red .navbar-brand {
  color: white !important;
}

.navbar-red .nav-link:hover,
.navbar-red .navbar-brand:hover {
  color: lightgray !important; /* Cor ao passar o mouse (opcional) */
}